body{
    font-family: serif;
    color:red;
    background-color: white;
}
h1{
    font-size: 150px;
    color:green;
    color:black;
}
h2{
    font-size: 123px;
}
h1{
    color:maroon;
}

a{
    color:black;
}